@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "groupee";
  src: url("./fonts/groupee.otf");
}

body {
  font-family: "Poppins", sans-serif;
}

.bg {
  background-image: url("./assets/bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
