@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "groupee";
  src: url("./fonts/groupee.otf");
}

body {
  font-family: "Poppins", sans-serif;
}

.bg {
  background-image: url("./assets/bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 0.7vw;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
